{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body>
<header class="p-3 text-bg-success">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="{% url 'home' %}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img src="{% static 'images/iconicecream.png' %}" alt="Bootstrap" width="50" height="50">
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{% url 'home' %}" class="nav-link px-2 text-white">Главная</a></li>
                <li><a href="{% url 'trending' %}" class="nav-link px-1 text-white">Популярные</a></li>
                <li><a href="{% url 'my_ice_creams' %}" class="nav-link px-2 text-white">Мои мороженые</a></li>
                <li><a href="{% url 'create' %}" class="nav-link px-2 text-white">Добавить</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" action="{% url 'search' %}"
                  method="post">
                {% csrf_token %}
                <input type="search" class="form-control form-control-white text-bg-white" placeholder="Search..."
                       aria-label="Search" id="search" name="search">
            </form>

            <div class="text-end">
                {% if not user.is_authenticated%}
                <a href="{% url 'login' %}">
                    <button type="button" class="btn btn-outline-light me-2">Login</button>
                </a>
                <a href="{% url 'register' %}">
                    <button type="button" class="btn btn-warning">Sign-up</button>
                </a>
                {% else %}
                <a href="{% url 'favorites' %}"><button type="button" class="btn btn-outline-light me-2">Favorites</button></a>
                <a href="{% url 'my_ice_creams' %}"><button type="button" class="btn btn-outline-light me-2">My ice creams</button></a>
                <a href="{% url 'logout' %}">
                    <button type="button" class="btn btn-warning">Logout</button>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</header>
{% block content %}
{% endblock %}
<script src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>